* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
  }
  #info-faixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
    font-size: 15px;
  }

  #info-faixa p{
    color: aliceblue;

  }

  #resumo{
    font-size: 12px;
    align-items: center;  
    box-sizing: border-box; 
    text-align: justify;
    
}

  #container-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 155px; 
}

#container-botoes {
    display: flex;
    justify-content: center; 
}

#container-botoes button {
    font-size: 24px; 
    padding: 10px; 
    margin: 0 5px;
    color: white;
    background-color: #333; 
    border: none; 
    border-radius: 5px; 
}

#container-botoes button:hover {
    background-color: #555; 
    cursor: pointer;
}

  

footer {
    margin-top: 60px;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }
  
  body{
    min-height: 100vh; 
    background: url(../../Imagens/Livro/Background.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    
    top: 0;
    left: 0;
    z-index: -1;

  }


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(7, 7, 7, 0.973);
    box-shadow: 0 5px 10px rgb(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    color: antiquewhite;
    font-size: 18px;
    text-transform: none;
}
header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
   font-size: 14px;
   padding: 20px;
   color: antiquewhite;
   display: block;
   
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(7, 7, 7) ;
    border-radius: 5%;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(255, 243, 243, 0.438);
}

header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(7, 7, 7, 1) ;
        border-top: 1px solid rgba(255, 243, 243, 0.438);
        display: none;
        
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    #menu-bar:checked ~.navbar{
        display: initial;

        
    }
    body {
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
      
   
}